<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>BA Cultural Anthropology</h1>
            <span>Univeristy of California</span>
            <span><address>Santa Cruz, CA</address><time>2010 to 2012</time></span>
        </header>
        <p>
    </article>
    <article>
        <header>
            <h1>Full Stack Web Development Intensive</h1>
            <span>Bloc.io</span>
            <span><address>Bay Area, CA</address><time>2018</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Interaction Design Specialization</h1>
            <span>Coursera</span>
            <span><address>Bay Area, CA</address><time>2016</time></span>
        </header>
    </article>
</section>
