<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Indiegogo</h1>
            <span>Customer Happiness Agent</span>
            <span><address>San Francisco, CA</address><time>Aug 2016 to Present</time></span>
        </header>
        <p>Delight Indiegogo's customers by providing the with world-class support.</p>
    </article>
    <article>
        <header>
            <h1>Agent Creative</h1>
            <span>Bookkeeper</span>
            <span><address>Oakland, CA</address><time> Sept 2012 to Aug 2016</time></span>
        </header>
        <p>Contracted with small businesses and sole proprietors to support administrative and financial functions.</p>
    </article>
</section>
