<section class="thirteen columns">
    <h1>Summary</h1>
        <p>
            I learned to code because I was inspired by the work of my bookkeeping clients. The programmers I contracted for were doing challenging and intense work, building products that impact thousands of people. I wanted to do that too, so I studied web development through an online program. I am an exceptionally dedicated and dependable team player, looking to secure a Full Stack Developer position where I can use my educational background to develop my skills. 
        </p>    
</section>