<section class="thirteen columns">
    <h1>Programming Skills</h1>
    <article>
        <header>
            <h1>Full Stack Development</h1>
        </header>
        <p>
            <em>Ruby & Ruby on Rails</em>
        <p>
            <em>HTML</em>, <em>CSS3</em>, <em>Javascript</em>, <em>Angular</em>, <em>NodeJS</em>, <em>React</em>, &amp; <em>jQuery</em>
        </p>
        <p>
            <em>API's</em>, <em>Firebase</em>, <em>SQL</em>, &amp; <em>Git</em>
        </p>
    </article>
</section>